@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2>Until we figure out how to change the route of the starting page to
    Areas/Admin/Inventory use this link:</h2>
    <a asp-area="Admin" asp-page="Inventory">Inventory View</a>
</div>
