@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{ 
    <div class="mr-sm-3 ml-auto">
        <a href="#"><i class="fas fa-bell fa-1x"></i></a>
        <span class=" badge badge-danger" style="font-size:10px;">
            0
        </span>
    </div>
}

<ul class="nav flex-column ">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><i class="fas fa-user-circle fa-2x"></i></a>
        <div class="dropdown-menu dropdown-menu-right">
            <ul class="nav flex-column ">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
                    </li>
                    <li class="nav-item dropdown-item">
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="nav-item dropdown-item">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                    </li>
                    <li class="nav-item dropdown-item">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </li>
                }
            </ul>
        </div>
    </li>
</ul>
