<!--
    ARGUMENETS:
        ViewData["numColumns"]
-->

@*<table class="table table-hover table-borderless" id="data">
    <tbody id="searchTable">*@
        @*@for (int i = 0; i < dbcontext.table.count; i++)
            {*@
                @*<tr>*@
                    @*@for (int i = 0; i < (int)ViewData["numColumns"]; i++)
                        {*@
                            <!--POPULATE TABLE WITH DB DATA-->
                            @*<td></td>*@
                        @*}*@
                @*</tr>
            }
</table>*@

<div>
    <ul class="pagination d-inline-flex">
        <li class="page-item"><a class="page-link" href="">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
    <!--Add Button-->
    <a class="float-right shadow-sm rounded-circle" href="#"><i class="fas fa-plus-circle fa-3x"></i></a>
</div>




<!--Javascript-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<script>
    $(document).ready(function () {
        $("#searchInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#searchTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<script>
    $(document).ready(function () {
        $(".nav-tabs a").click(function () {
            $(this).tab('show');
        });
    });
</script>