@page
@model VillageDrill.Areas.Admin.Pages.AddAssemblyPartModel
@{
}

<h1>Add Assembly Part</h1>

<table class="table table-borderless data-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Select</th>
            <th>Qty</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                
                <td>
                    @Html.DisplayFor(m => item.ItemName)
                </td>
                <td>                   
                    <input type="checkbox" asp-for="AssemblyPart.isSelected" />
                    @Html.HiddenFor(m => item.ItemID)
                </td>
                <td>
                    @Html.EditorFor(model => model.AssemblyPart.Qty, new { htmlAttributes = new { type = "number", min = "0", @class = "form-control" } })
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary" asp-page="./CreatePart" >Cancel</a>