@page
@model VillageDrill.Areas.Admin.Pages.AssembleModel
@{
    ViewData.Add("Title", "Assemble");
    ViewData.Add("includeTitle", "true");
}

<table class="table table-borderless">
    <thead>
        <tr>
            <th>Name</th>
            <th>Needed</th>
            <th>OnHand</th>
            <th>HaveParts</th>
        </tr>
    </thead>
    <tbody id="searchTable">
        <tr>
            <td>Drill</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>
                <button type="button" class="btn text-primary "><i class="far fa-plus-square"></i></button>
                CB Box
            </td>
            <td>1</td>
            <td>0</td>
            <td>0</td>

        </tr>
        <tr>
            <td>
                <button type="button" class="btn text-primary "><i class="far fa-plus-square"></i></button>
                Large Box
            </td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
        </tr>

    </tbody>
</table>

<!--select Item-->
<form class="pt-3">
    <div class="row border-top pt-3">
        <div class="col-md-3"></div>
        <div class="form-group col-md-4">
            <label class="font-weight-bold">Item:</label>
            <select class="form-control mb-2" id="sel1">
                <option>Drill</option>
                <option>CB Box</option>
                <option>Large Box</option>
            </select>
            <a asp-page="./AssembleCheckMissing">Check Missing</a>
        </div>

        <div class="form-group col-md-2">
            <label class="font-weight-bold">Qty:</label>
            <input type="text" class="form-control mb-2" />
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-secondary mr-2">Cancel</button>
                <button type="submit" class="btn btn-primary">Assemble</button>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</form>




<!--Javascript-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

