@page
@model VillageDrill.Areas.Admin.Pages.AssembleCheckMissingModel
@{
}
<div class="text-center">
    <label>You don't have the parts to build:</label><br />
    <td> 1 Drill</td>
    <br />
    <br />
    <label>To build a thrill you need</label>
    <br />
    
</div>
<div>
    <table class="table table-striped table-hover table-borderless">
        <thead>
            <tr>
                <th>Part Name</th>
                <th></th>
                <th></th>
                <th>Qty</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name of Parts</td>
                <td></td>
                <td></td>
                <td>......</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-page="./Assemble" class="btn btn-outline-dark">Back</a>
</div>