@page
@model VillageDrill.Areas.Admin.Pages.ReportsModel
@{
    ViewData.Add("Title", "Reports");
}

<!--Title-->
<h2 class="text-center">@ViewData["Title"]</h2>
<br />
<br />


<!--Reports Buttons-->
<div>
    <button type="button" class="btn btn-outline-dark btn-lg btn-block">Item</button>
    <br />
    <br />
    <br />
    <button type="button" class="btn btn-outline-dark btn-lg btn-block">Other</button>
</div>