@page
@model VillageDrill.Areas.Admin.Pages.VendorPurchaseHistoryModel
@{
    
}

    <form class="row">
        <div class="col-md-6">
            <label>Rocky Mountain Purchase History</label><br /><br />
            <a class="btn btn-lg btn-outline-dark text-center" style="margin-bottom:12px" href="">
                Order 1 --/--/--   
            </a><br />
            <a class="btn btn-lg btn-outline-dark" style="margin-bottom:12px" href="">
                Order 2 --/--/--
            </a><br />
            <a class="btn btn-lg btn-outline-dark" style="margin-bottom:12px" href="">
                Order 3 --/--/-- 
            </a><br />
        </div>
        <div class="col-md-6">
            <label>Order 1</label><br />
            <label class="text-center"> Order Date: --/--/--</label><br />
            <label>Total: ....</label>

            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>Part Name</th>
                        <th>Qty </th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>....</td>
                        <td>....</td>
                        <td>....</td>
                    </tr>
                    <tr>
                        <td>....</td>
                        <td>....</td>
                        <td>....</td>
                    </tr>
                    <tr>
                        <td>....</td>
                        <td>....</td>
                        <td>....</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
    <div class="text-center">
        <a asp-page="./Vendor" class="btn btn-outline-dark">Back</a>
        
    </div>